p {
  font: 1px;
}

#container #disque {
  transition: box-shadow 0.5s;
  width: 100px;
  height: 100px;
  background-color: #4477FF;
  border-radius: 50px;
  -webkit-border-radius: 50px;
}

#container #disque:hover {
  background-color: #cd5c5c;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
